.basic {
    padding: 1rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.flex {
    display: flex;
}

.flex-horizontal-center {
    display: flex;
    align-content: center;
    align-items: center;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-between-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-align {
    display: flex;
    justify-content: end;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.writeBtn, .joinBtn, .logoutBtn, .loginBtn {
    padding-left: 0.5rem;
}

.noAuth, .auth {
    display: flex;
}

.comment {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment .profile {
    display: flex
}

.comment .profile .img {
    display: flex;
    align-items: center;
}

.comment .profile .comment-info {
    margin-left: 1rem;
}

.font-bold {
    font-weight: bold;
}

.social-media-text {
    padding-bottom: 0.5rem;
}

.comment .profile .comment-info .username {
    font-weight: bold;
}

.comment .profile .comment-info .date {
    margin-top: 8px;
    color: dimgray;
}

.comment .content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comment-with-action {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-category {
    color: dimgray;
}

.post-title {
    margin-right: 5%;
}

.post-author, .comment-author {
    font-weight: bold;
    margin-right: 2%;
}

.post-table {
    margin-bottom: 3%;
}

.post-action-btn {
    display: flex;
}

.post-delete-btn, .comment-delete-btn {
    margin-left: 0.5rem;
}
